body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #232831;
  color: white;
}

body,
input,
textarea {
  font-family: "Pretendard", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 64px;
  max-width: 1024px;
  gap: 32px;
}

.section {
  background-color: #31363f;
  flex-grow: 1;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  padding: 16px;
  gap: 8px;

  transition: box-shadow ease 0.2s;
}

.section:hover {
  box-shadow: 16px 16px 32px 0px rgba(0, 0, 0, 0.29);
}

.left-layout {
  border-right: 1px solid #ccc;
}

h2 {
  margin: 0;
}

.text-input {
  flex-grow: 1;
  background: transparent;
  color: white;
  resize: none;
  border: 0;
  outline: none;
  font-size: 20px;
  font-weight: 700;
}

.text-input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.text-input:focus {
  outline: none;
}

/* input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
} */

button {
  padding: 6px 16px;
}

.section-title {
  background-color: #82aaad;
  color: #eeeeee;
  padding: 16px;
  border-radius: 16px;
  font-weight: 900;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.clear-button {
  right: 0;
  bottom: 0;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;

  opacity: 0.6;
  transition: opacity ease 0.2s;
}

.clear-button:hover {
  opacity: 1;
}

.clear-button-image {
  width: 24px;
  height: 24px;
}

.actions {
  display: flex;
  gap: 8px;
}

#submit {
  flex-grow: 1;
}

.submit-button {
  outline: none;
  border: none;
  border-radius: 16px;
  padding: 8px 0;
  color: white;
  transition: all ease 0.2s;
  cursor: pointer;
  background-color: #4c8b8e;
}

.submit-button:hover {
  background-color: #65b9be;
}

#notFound {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 800;
  font-size: 20px;
}
