body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #232831;
  color: white;
}

body,
input,
textarea {
  font-family: "Pretendard", sans-serif;
}

* {
  box-sizing: border-box;
}

.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.translation-area-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.translation-area {
  justify-content: center;
  padding: 64px;
  max-width: 1024px;
  gap: 32px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.section {
  flex-grow: 1;
  border-radius: 24px;
  background-color: #31363f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  padding: 16px;
  gap: 8px;
  flex-shrink: 0;

  transition: box-shadow ease 0.2s;
}

.section:hover {
  box-shadow: 16px 16px 32px 0px rgba(0, 0, 0, 0.29);
}

.left-layout {
  border-right: 1px solid #ccc;
}

h2 {
  margin: 0;
}

.text-input {
  flex-grow: 1;
  background: transparent;
  color: white;
  resize: none;
  border: 0;
  outline: none;
  font-size: 20px;
  font-weight: 700;
}

.text-input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.text-input:focus {
  outline: none;
}

/* input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
} */

button {
  padding: 6px 16px;
}

.section-title {
  background-color: #82aaad;
  color: #eeeeee;
  padding: 16px;
  border-radius: 16px;
  font-weight: 900;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.clear-button {
  right: 0;
  bottom: 0;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;

  opacity: 0.6;
  transition: opacity ease 0.2s;
}

.clear-button:hover {
  opacity: 1;
}

.clear-button-image {
  width: 24px;
  height: 24px;
}

.actions {
  display: flex;
  gap: 8px;
}

#submit {
  flex-grow: 1;
}

.submit-button {
  outline: none;
  border: none;
  border-radius: 16px;
  padding: 8px 0;
  color: white;
  transition: all ease 0.2s;
  cursor: pointer;
  background-color: #4c8b8e;
}

.submit-button:hover {
  background-color: #65b9be;
}

#notFound {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 800;
  font-size: 20px;
}

#loading {
  font-size: 20px;
  font-weight: 800;
}

.sidebar {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  height: 100%;
}

.sidebar-button {
  padding: 0;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;

  transition: all ease 0.2s;
}

.sidebar-button:hover {
  background-color: rgba(64, 134, 108, 0.2);
}

.sidebar-button.active {
  background-color: rgba(255, 255, 255, 0.1);
}

/* --------------- SIDEBAR ----------------- */

.sidebar-area {
  position: relative;
}

.sidebar-overlay-container {
  position: absolute;
  height: 100%;
  left: 0;

  width: 320px;
  border-left: 1px soild rgba(255, 255, 255, 0.2);
  background-color: #363c49;
  transition: transform 0.4s cubic-bezier(0, 0.55, 0.45, 1);
}

.sidebar-overlay-container.open {
  transform: translateX(-100%);
}

.sidebar {
  background-color: #31363f;
  z-index: 100;
  position: relative;
}

.sidebar-content-title {
  font-size: 20px;
  padding: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-weight: 800;
}

.sidebar-content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-content {
  flex-grow: 1;
  height: 0;
  overflow: scroll;
}

.dict-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 16px;
  gap: 8px;
}

.dict-item-from {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}

.dict-item-to {
  font-size: 16px;
  font-weight: 600;
}

.info-tab {
  padding: 16px;
}

p {
  margin: 0;
}
